@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root, .main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.dark .button:hover {
  background-color: #4299e1; /* A darker hover blue for dark theme */
}


.font-light {
  font-family: 'Roboto', sans-serif;
}

.font-dark {
  font-family: 'Roboto', sans-serif;
}


body {
  font-family: 'Roboto', sans-serif;
}

button:focus {
  outline: none;
}

/* Default (Light Theme) */
.light {
  background-color: #ffffff;
  color: #1a202c; /* Tailwind's text-gray-800 equivalent */
}

.light .button {
  background-color: #3182ce; /* Tailwind's bg-blue-500 equivalent */
  color: #ffffff; /* White text */
}

.light .button:hover {
  background-color: #2b6cb0; /* Tailwind's hover:bg-blue-600 equivalent */
}

/* Dark Theme */
.dark {
  background-color: #2d3748; /* Tailwind's bg-gray-800 equivalent */
  color: #f7fafc; /* Tailwind's text-white equivalent */
}

.dark .button {
  background-color: #ed63d4; /* A lighter blue for dark theme */
  color: #2d3748; /* Dark text for contrast */
}